.main-section .about {
    text-align: center;
    width: 70vw;
    padding: 50px;
    border: var(--clrbg) 1px solid;
    border-radius: 1rem;
    background-color: var(--clr-5);
    margin: auto;
}

.main-section .about p,
h1 {
    margin-block-end: 0;
}

.main-section .about p {
    line-height: 1.5;
    margin-block-end: 0;
}