.meme-editor {
    margin-inline: auto;
    padding: 0.5rem;
    width: max-content;
    background-color: rgb(232, 232, 232);

    opacity: 0;
    pointer-events: none;

    position: absolute;
    translate: 0 -150%;

    margin-top: 1.5rem;
}

.back-btn {
    position: absolute;
    top: -2rem;
    cursor: pointer;
    padding: 2px;
    border:solid 2px black;
    border-radius: 14px;
}

.back-btn:hover {
    text-decoration: underline;
    font-weight: bold;
}

.meme-editor.open {
    opacity: 1;
    pointer-events: all;
    translate: -50% 0;
    left: 50vw;
}

.canvas-container {
    background-color: green;
}

/* canvas {
} */

.meme-editor image {
    aspect-ratio: 1 / 1;
}