.main-section .meme-editor {
    margin-inline: auto;
    padding: 0.5rem;
    width: max-content;
    background-color: var(--clr-bg-grey);
}

.main-section .back-btn:hover {
    text-decoration: underline;
    font-weight: bold;
}

.canvas-container {
    background-color: white;
}

.main-section .meme-editor image {
    aspect-ratio: 1 / 1;
}