.main-section .memes-gallery {
    background-color: var(--clr-bg-grey);
    width: 92%;
    padding: 1rem;
}

.main-section .memes-gallery img {
    cursor: pointer;
    transition: opacity 0.5s;
}

.main-section .memes-gallery img:hover {
    opacity: 0.7;
}

.main-section .memes-gallery>div {
    position: relative;
}

.main-section .memes-gallery p {
    margin-block: 0;
    position: absolute;
    color: red;
}

.main-section .memes-gallery img + p {
    top: 0
}

.main-section .memes-gallery p + p {
    bottom: 0;
}

/* ------------------------------------------------ */
.main-section .memes-gallery img {
    cursor: pointer;
}