.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.grid {
    display: grid;
}

.clean-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-section .hide {
    display: none;
 }