body {
    margin: 0;
    /* flex-direction: column; */
}

.main-section .image-gallery {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    grid-template-rows:repeat(auto-fit, minmax(135px, 1fr));
    grid-auto-flow: dense;
}

.main-section .meme-editor {
    grid-template-columns: repeat(2, 420px);
    grid-template-rows: 420px;
    gap: 2rem;
}

.tool-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, 45px);
    grid-template-rows: repeat(auto-fit, 45px);
    gap: 1rem;
}

.text-line {
    grid-column: 1 / 6;
}

.select-f-f {
    grid-column: 3 / 6;
}

.txt-border-clr,
.txt-fill-clr {
    font-size: 0.8rem;
    text-align: right;
    margin-block: auto;
}

.txt-fill-clr {
    grid-column: 1 / 3;
}

.txt-border-clr {
    grid-column: 4 / 7;
}


.main-section .memes-gallery {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    grid-template-rows:repeat(auto-fit, minmax(135px, 1fr));
    grid-auto-flow: dense;
}